
h1,
h2,
h3,
h4,
p,
li,
a,
figcaption{
    font-family: "Montserrat",sans-serif;
    
}
h1{
    font-size: 45px;
    line-height: 1;
}
h2{
    font-size: 32px;
    line-height: 1.1;
}
h3{
    font-size: 24px;
    line-height: 1.2;
}
p{
    font-size: 18px;
    line-height: 1.4;
}

figcaption{
    font-size:12px ;
    font-style: italic;
}
a{
    color: #c44105;
    font-size: 24px;
    font-weight: bold;
    text-decoration: double;
    text-decoration-line: underline;
}
li{
    color: #035276;
    font-style: italic;
}
.realce-h1 {
    color: #0588c4;
}
.realce-p, p strong{
    font-weight: bold;
    color:#0588c4;
}
.realce-italico{
    color:#0588c4;
    font-style: italic;
}
.realce-underline{
    color:#0588c4 ;
    text-decoration: underline;
}